body{
    background-color: black;
}

h1,h2,h3,h4,h5,h6{
    color: #fff;
    text-align: center;
}

th,td{
    color: #fff;
    padding: 15px 20px;
    border: 1px solid #ddd;
}

label{
    color: black;
}

thead tr{
    background-color: gray;
}
    
.tableau {
    text-align: center;
    border: solid white;
}

.formulaire{
    text-align: center;
}

.Dbutton{
    background-color: red;
}

.Dbutton:hover{
    background-color: lightcoral;
}

.Dbutton:active{
    background-color: lightcoral;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.Ubutton{
    background-color:   green;
}

.Ubutton:hover{
    background-color: lightgreen;
}

.Ubutton:active{
    background-color: lightcoral;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.btn-save{
    background-color:  blue;
    display: inline;
    padding: 10px;
    border-radius: 1px;
    border: 2px solid lightblue;
}

.btn-save:hover{
    background-color: lightblue;
}

.btn-save:active{
    background-color: lightcyan;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.btn-update{
    background-color:  green;
    display: inline;
    padding: 10px;
    border-radius: 1px;
    border: 2px solid lightgreen;
}

.btn-update:hover{
    background-color: lightgreen;
}

.btn-update:active{
    background-color: lightseagreen;
    box-shadow: 0 5px #666;
    transform: translateY(4px); 
}


.form-group{
    max-width: 450px;
    background: #FAFAFA;
    padding: 15px;
    margin: 20px auto;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    border: 6px solid #305A72;
}